body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    color: #2C2C2C;
}
/* 1st-section */
.flexible{
    display: flex;
    margin: 5%;
}
.half{
    width: 50%;
    padding: 5%;
}
.half img{
    width: 80%;
}
.half h1{
    font-size: 40px;
    padding-left: 5px;
    border-left: 5px solid #FF5959;
}
.orange{
    color: #FFAD5A;
}
.explore-button{
    text-decoration: none;
    background-color: #FF5959;
    border-radius: 5px;
    color: white;
    padding: 10px 40px;
}
/* 2nd-section */
h2{
    color: #13103A;
    text-align: center;
    font-size: 40px;
}
.one-third img{
    width: 50%;
}
.one-third{
    width: 30%;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}
#mission{
    background: #EDF5F6;
}
#vission{
    background: #FFEEEE;
}
#goals{
    background: #fff9e6;
}
/* 3rd-and-4th-section */
h3{
    font-size: 35px;
}
.images{
    width: 35%;
    padding: 10px;
}
.images img{
    width: 80%;
}
.texts{
    width: 65%;
    padding: 10px;
}