body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    color: #2C2C2C;
}
.curve-font{
    font-family: 'Lobster', cursive;
    font-weight: 300;
}
/* 1st-section */
.flexible{
    display: flex;
    margin: 5%;
}
.half{
    width: 50%;
    padding: 5%;
}
.half img{
    width: 90%;
}
.half h1{
    font-size: 60px;
    padding-left: 5px;
    border-left: 5px solid #FF5959;
}
.orange{
    color: #FFAD5A;
}
.explore-button{
    text-decoration: none;
    background-color: #FF5959;
    border-radius: 5px;
    color: white;
    padding: 10px 40px;
}
.small-text{
    font-size: 12px;
    margin-top: 50px;
}
/* 2nd-section */
h2{
    color: #13103A;
    text-align: center;
    font-size: 40px;
}
.one-third img{
    width: 50%;
}
.one-third{
    width: 30%;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}
#mission{
    background: #EDF5F6;
}
#vission{
    background: #FFEEEE;
}
#goals{
    background: #fff9e6;
}
/* 3rd-and-4th-section */
.fourth-section{
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 25%;
}
h3{
    font-size: 35px;
}
.images{
    width: 35%;
    padding: 10px;
}
.images img{
    width: 80%;
}
.texts{
    width: 65%;
    padding: 10px;
}
/* 5th-section */
#app-image{
    width: 50%;
    margin: auto;
    display: block;
}
/* footer */
.footer{
    text-align: center;
    color: white;
    padding: 5px;
    background-color: #0B0D17;
}
.red{
    color: #FF5959;
}